<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta th:name="_csrf" th:content="${_csrf.token}" />
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/materialdesignicons.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />

    <title>identiDAT - Editar Posiciones</title>
</head>

<body>
    <div
        class="mask d-flex align-items-center h-100 gradient-custom-3 global-margin-top global-margin-bottom justify-content-center">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <img th:src="@{/img/identidat.svg}" alt="logo" id="logo" class="mx-auto">
            <div class="col-12 col-md-10 col-lg-10 col-xl-10">
                <div class="card scale-less" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center mb-5">Editar Usuario</h2>

                        <h4 class="text-uppercase text-center mb-5">Cargos actuales</h4>

                        <input type="hidden" th:field="*{form.censusMemberId}">

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Cargos</h6>
                            </div>
                            <div th:each="position : ${form.positions}" class="col-sm-9 text-secondary" th:text="${position.name}">
                                <button th:onclick="'javascript:deletePosition(' + ${position.id} + ');'"
                                class="btn btn-danger mainMode">Eliminar</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Departamentos</h6>
                            </div>
                            <div th:each="department : ${form.departments}" class="col-sm-9 text-secondary" th:text="${department.acronym}">
                                <button th:onclick="'javascript:deleteDepartment(' + ${department.id} + ');'"
                                class="btn btn-danger mainMode">Eliminar</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Comisiones</h6>
                            </div>
                            <div th:each="commission : ${form.commissions}" class="col-sm-9 text-secondary" th:text="${commission.name}">
                                <button th:onclick="'javascript:deleteCommission(' + ${commission.id} + ');'"
                                class="btn btn-danger mainMode">Eliminar</button>
                            </div>
                        </div>

                        <h4 class="text-uppercase text-center mb-5">Añadir cargos</h4>

                        <form action="javascript:;" th:object="${posForm}" onsubmit='uploadPosition(this)'>

                            <!--<input type="checkbox" id="posForm" text="Posiciones" value="on"></input>-->
                            <input type="checkbox" id="posForm" name="posForm" value="on">
                                <label for="posForm">Cargos</label>
                            </input>

                            <fieldset><!--style="display:none"-->

                                <input type="hidden" th:field="*{cenMemberId}">
                                
                                <div class="form-outline mb-3">
                                    <label class="form-label" for="position">Cargo:</label>
                                    <select id="positionId" name="position" th:field="*{positionId}"
                                        class="form-control form-control-lg selector" required>
                                        <option th:each="position : ${positionsL}" th:value="${position.id}"
                                            th:text="${position.name}" class="position"></option>
                                    </select>
                                </div>

                                <div class="form-outline mb-3">
                                    <label class="form-label" for="degree">Titulación:</label>
                                    <select th:field="*{degreeCode}" class="form-select" required>
                                        <option th:each="degree : ${degrees}" th:value="${degree.code}"
                                            th:text="${degree.acronym}"></option>
                                    </select>
                                </div>

                                <div th:if="${diferentiator > 0}" class="form-outline mb-3">
                                    <label class="form-label" for="diferentiator">Grupo/Curso:</label>
                                    <input type="text" id="diferentiator" name="diferentiator" class="form-control form-control-lg" th:value="*{diferentiator}"/>
                                </div>

                                <div class="form-outline mb-3">
                                    <label class="form-label" for="year">Año:</label>
                                    <input type="text" id="year" name="year" class="form-control form-control-lg" th:value="*{year}" placeholder="Valor númerico del año"/>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <input type="submit" class="btn btn-primary btn-block btn-lg"
                                        value="Guardar cambios"></input>&nbsp;&nbsp;
                                </div>

                            </fieldset>
                        </form>

                        <form action="javascript:;" th:object="${depForm}" onsubmit='uploadDepartment(this)'>

                            <!--<input type="checkbox" id="depForm" text="Departamentos" value="on"></input>-->
                            <input type="checkbox" id="depForm" name="depForm" value="on">
                                <label for="depForm">Departamentos</label>
                            </input>

                            <input type="hidden" th:field="*{censusMemId}">

                            <div class="form-outline mb-3">
                                <label class="form-label" for="deparment">Departamento:</label>
                                <select id="departmentId" name="department" th:field="*{departmentId}"
                                    class="form-control form-control-lg" required>
                                    <option th:each="department : ${departmentsL}" th:value="${department.id}"
                                        th:text="${department.acronym}" class="department"></option>
                                </select>
                            </div>

                            <div class="form-outline mb-3">
                                <label class="form-label" for="year">Año:</label>
                                <input type="text" id="year" name="year" class="form-control form-control-lg" th:value="*{year}" placeholder="Valor númerico del año"/>
                            </div>

                            <div class="d-flex justify-content-center">
                                <input type="submit" class="btn btn-primary btn-block btn-lg"
                                    value="Guardar cambios"></input>&nbsp;&nbsp;
                            </div>
                        </form>

                        <form action="javascript:;" th:object="${comForm}" onsubmit='uploadDepartment(this)'>

                            <input type="checkbox" id="comForm" name="comForm" value="on">
                                <label for="comForm">Comisiones</label>
                            </input>

                            <input type="hidden" th:field="*{cenMemId}">

                            <div class="form-outline mb-3">
                                <label class="form-label" for="commission">Comisión:</label>
                                <select id="commissionId" name="commission" th:field="*{commissionId}"
                                    class="form-control form-control-lg" required>
                                    <option th:each="commission : ${commissionsL}" th:value="${commission.id}"
                                        th:text="${commission.name}" class="commission"></option>
                                </select>
                            </div>

                            <div class="form-outline mb-3">
                                <label class="form-label" for="year">Año:</label>
                                <input type="text" id="year" name="year" class="form-control form-control-lg" th:value="*{year}" placeholder="Valor númerico del año"/>
                            </div>

                            <div class="d-flex justify-content-center">
                                <input type="submit" class="btn btn-primary btn-block btn-lg"
                                    value="Guardar cambios"></input>&nbsp;&nbsp;
                            </div>
                        </form>

    <script th:src="@{/js/jquery-3.6.3.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap5.min.js}"></script>
    <script th:src="@{/js/positions.js}"></script>
</body>

</html>