<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/materialdesignicons.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />

    <title>identiDAT - Editar Posiciones</title>
</head>

<body>
    <nav th:insert="fragments/navbar.html"></nav>

    <div
        class="mask d-flex align-items-center h-100 gradient-custom-3 global-margin-top global-margin-bottom justify-content-center">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <img th:src="@{/img/identidat.svg}" alt="logo" id="logo" class="mx-auto">
            <div class="col-12 col-md-10 col-lg-10 col-xl-10">
                <div class="card scale-less" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center mb-5">Editar Usuario</h2>

                        <form th:action="@{/admin/census/edit}" th:object="${form}" method="POST">

                            <input type="hidden" th:field="*{censusMemberId}" id="censusMemberId" name="censusMemberId">

                            <div class="form-outline mb-3">
                                <label class="form-label" for="position">Position:</label>
                                <select id="position" name="position" th:field="*{position}"
                                    class="form-control form-control-lg" required>
                                    <option th:each="position : ${positions}" th:value="${position}"
                                        th:text="${position}" class="position"></option>
                                </select>
                            </div>

                            <div class="form-outline mb-3">
                                <label class="form-label" for="deparment">Departamento:</label>
                                <select id="deparment" name="deparment" th:field="*{deparment}"
                                    class="form-control form-control-lg" required>
                                    <option th:each="deparment : ${deparments}" th:value="${deparment.acronym}"
                                        th:text="${deparment.acronym}" class="deparment"></option>
                                </select>
                            </div>

                            <div class="form-outline mb-3">
                                <label class="form-label" for="commission">Comisión:</label>
                                <select id="commission" name="commission" th:field="*{commission}"
                                    class="form-control form-control-lg" required>
                                    <option th:each="commission : ${commissions}" th:value="${commission}"
                                        th:text="${commission}" class="commission"></option>
                                </select>
                            </div>

                            <div class="d-flex justify-content-center">
                                <input type="submit" class="btn btn-primary btn-block btn-lg"
                                    value="Editar"></input>&nbsp;&nbsp;
                                <input type="submit" class="btn btn-danger btn-block btn-lg"
                                    th:formaction="@{/admin/census/delete/} + ${form.censusMemberId}"
                                    formmethod="POST">Borrar</input type="submit">

                            </div>

                        </form>
</body>

</html>