@import "lib/vars";
@import "lib/keyframes";
@import "lib/fontface";

body {
    background-color: rgb(255, 255, 255);
}

.global-margin-top{
    margin-top: 50px;
}

.global-margin-bottom{
    margin-bottom: 50px;
}

.btn {
    background-color: $color_dat_naranja1;
    color:rgb(255, 255, 255) !important; 
}

#logo_identiDAT {
    width: 100%;
    margin-bottom: 50px;
}

.logo_smaller{
    width: 40% !important;
}