<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta th:name="_csrf" th:content="${_csrf.token}" />
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap5.min.css}" />
    <link rel="stylesheet" th:href="@{/css/materialdesignicons.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />

    <title th:text="'identiDAT - JD ' + ${#dates.format(jd.date, 'dd-MM-yyyy')}"></title>
</head>

<body>

    <div class="mask d-flex align-items-center h-100 global-margin-bottom"></div>
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <img th:src="@{/img/identidat.svg}" alt="logo" id="logo" class="mx-auto logo_smaller">
        </div>
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-10 col-lg-8 col-xl-8">

                <table id="files" class="table table-striped table-hover" style="width:100%; table-layout: fixed;">
                    <thead>
                        <tr>
                            <th>Archivo</th>
                            <th>Subido</th>
                            <th>Actualizado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="file: ${jd.files}" th:id="'file_' + ${file.id}">
                            <form th:object="${jdFileForm}" action="javascript:;" th:data-jd_id="${jd.id}"
                                th:data-file_id="${file.id}" onsubmit="updateFile(this)" enctype="multipart/form-data">
                                <td>
                                    <p th:text="${file.filename}"></p>
                                </td>
                                <td class="fileUploaded">
                                    <p th:text="${#dates.format(file.uploaded, 'dd-MM-yyyy HH:mm')}"></p>
                                    <input type="file" name="file" accept=".doc,.docx,.pdf,.odt,.ods,.xls,.xlsx"
                                        style="display:none" />
                                </td>
                                <td class="fileUpdated">
                                    <p th:text="${#dates.format(file.updated, 'dd-MM-yyyy HH:mm')}"></p>
                                </td>
                                <td class="actionButtons">
                                    <input type="submit" value="Actualizar" class="btn btn-primary editMode"
                                        style="display:none" />
                            </form>
                            <button th:onclick="'javascript:editFile(' + ${file.id} + ', true);'"
                                class="btn btn-danger editMode" style="display:none">Cancelar</button>

                            <a th:href="'/admin/jd/' + ${jd.id} + '/files/' + ${file.id}" target="_blank"
                                class="btn btn-primary mainMode">Abrir</a>
                            <button th:onclick="'javascript:editFile(' + ${file.id} + ');'"
                                class="btn btn-success mainMode">Editar</button>
                            <button th:onclick="'javascript:deleteFile(' + ${jd.id} + ', ' + ${file.id} + ');'"
                                class="btn btn-danger mainMode">Eliminar</button>
                            </td>
                        </tr>
                        <tr>
                            <form th:object="${jdFileForm}" action="javascript:;" th:data-jd_id="${jd.id}"
                                onsubmit="uploadFile(this)" enctype="multipart/form-data">
                                <td>
                                    <label for="name">Nombre del archivo:</label>
                                    <input type="text" th:field="*{name}" />
                                </td>
                                <td>
                                    <input type="file" name="file" accept=".doc,.docx,.pdf,.odt,.ods,.xls,.xlsx" />
                                </td>
                                <td></td>
                                <td>
                                    <input type="submit" value="Subir" class="btn btn-primary">
                                </td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

    <script th:src="@{/js/jquery-3.6.3.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap5.min.js}"></script>
    <script th:src="@{/js/admin/jdFunctions.js}"></script>
</body>

</html>