<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/materialdesignicons.min.css" />
		<link rel="stylesheet" href="css/main.css" />

		<title>identiDAT - Register</title>
	</head>

	<body>
		
		<div class="mask d-flex align-items-center h-100 gradient-custom-3 global-margin-top global-margin-bottom">
			  <div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-12 col-md-9 col-lg-7 col-xl-6">
				<img src="img/logo_identiDAT.png" alt="logo_identiDAT" id="logo_identiDAT" class="mx-auto">
				  <div class="card" style="border-radius: 15px;">
					<div class="card-body p-5">
					  <h2 class="text-uppercase text-center mb-5">ERROR</h2>
		
					  
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>

		<script src="js/jquery-3.6.3.min.js"></script>
		<script src="js/bootstrap.bundle.min.js"></script>
	</body>
</html>
