<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/dataTables.bootstrap5.min.css}" />
	<link rel="stylesheet" th:href="@{/css/materialdesignicons.min.css}" />
	<link rel="stylesheet" th:href="@{/css/main.css}" />

	<title>identiDAT - JDs</title>
</head>

<body>

	<div
		class="mask d-flex align-items-center h-100 gradient-custom-3 global-margin-top global-margin-bottom justify-content-center">
		<div class="container h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<img th:src="@{/img/identidat.svg}" alt="logo" id="logo" class="mx-auto logo_smaller">
			</div>
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-12 col-md-10 col-lg-8 col-xl-8">
					<div class="rounded-lg jumbDocumentaciónn">
						<h1 class="display-4">JD</h1>
						<p class="lead">Desde aquí puede consultarse la documentación de las sesiones de la JD.</p>
						<hr class="my-4">

						<br><br><br><br>

					</div>
				</div>
			</div>
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-sm-3" th:each="JD:${JDs}">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">JD <td th:text="${#dates.format(JD.date, 'dd-MM-yyyy HH:mm')}"></td> </h5>
							<h6 class="card-subtitle mb-2 text-muted"><td th:if="${JD.ordinary}">Ordinaria<td th:unless="${JD.ordinary}">Extraordinaria</td></h6>
							<p class="card-text" th:text="${JD.place}"></p>
							<a th:href="'/jd/' + ${JD.id} + '/files'" class="card-link">Documentación</a>
							<a href="#" class="card-link">Acta</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	</div>

	<script th:src="@{/js/jquery-3.6.3.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/dataTables.bootstrap5.min.js}"></script>
	<script th:src="@{/js/admin/adminFunctions.js}"></script>
</body>

</html>