<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/materialdesignicons.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />

    <title>identiDAT - Registro</title>
</head>

<body>

    <div class="mask d-flex align-items-center h-100 gradient-custom-3 global-margin-top global-margin-bottom justify-content-center">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <img th:src="@{/img/identidat.svg}" alt="logo" id="logo" class="mx-auto">
            <div class="col-12 col-md-10 col-lg-10 col-xl-10">
                <div class="card scale-less" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center mb-5">Registro en el censo de DAT</h2>

                        <form action="#" th:action="@{/newRegister}" th:object="${censusMemberForm}" method="POST">

                            <div class="form-outline mb-3">
                                <label class="form-label" for="name">Nombre:</label>
                                <input type="text" id="name" name="name" class="form-control form-control-lg" th:field="*{name}" required />
                            </div>

                            <div class="form-outline mb-3">
                                <label class="form-label" for="surname">Apellidos:</label>
                                <input type="text" id="surname" name="surname" class="form-control form-control-lg" th:field="*{surname}" required />
                            </div>

                            <div class="form-outline mb-3">
                                <label class="form-label" for="email">Email:</label>
                                <input type="email" id="email" name="email" class="form-control form-control-lg" th:field="*{email}" required />
                            </div>

                            <div class="form-outline mb-3">
                                <label class="form-label" for="personalID">DNI/NIE/Pasaporte:</label>
                                <input type="text" id="personalID" name="personalID" class="form-control form-control-lg" th:field="*{personalID}" required />
                            </div>

                            <div class="form-outline mb-3">
                                <label class="form-label" for="phone">Teléfono:</label>
                                <input type="number" id="phone" name="phone" class="form-control form-control-lg" th:field="*{phone}" required />
                            </div>

                            <div class="form-outline mb-3">
                                <label class="form-label" for="degree">Titulación:</label>
                                <select id="degree" name="degree" th:field="*{degree}" class="form-control form-control-lg" required>
                                    <option th:each="degree : ${degrees}" th:value="${degree.code}" th:text="${degree.acronym}" 
                                        class="degree"></option>
                                </select>
                            </div>

                            <div class="d-flex justify-content-center">
                                <input type="submit" class="btn btn-danger btn-dat btn-block btn-lg text-body" value="Registrarse"></input>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script th:src="@{/js/jquery-3.6.3.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/functions.js}"></script>
</body>

</html>